@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
  color: #fff;
  width: 300px;
  text-align: center;
}

.top h2 {
  font-size: 24px;
}

.datetime {
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.8;
}

.temp-section {
  margin-top: 20px;
}

.icon {
  width: 80px;
}

.temp {
  font-size: 40px;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  opacity: 0.9;
}

.forecast {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.day {
  flex: 1;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px 10px;
  margin: 0 5px;
  border-radius: 10px;
}
